@import "tailwindcss";

:root {
  --background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}